In [3]:
import pandas as pd
people = {         # We initialize this dictionary to understand about data frames
        "first" : ["John", "Joe", "Jane"],
        "last" : ["Den", "Don", "Doe"],
        "email": ["Johnd@gmail.com", "Joed@gmail.com", "JaneD@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df # 0,1,2, Indexes

  first last            email
0  John  Den  Johnd@gmail.com
1   Joe  Don   Joed@gmail.com
2  Jane  Doe  JaneD@gmail.com

In [6]:
df['email']

0    Johnd@gmail.com
1     Joed@gmail.com
2    JaneD@gmail.com
Name: email, dtype: object

In [7]:
df.set_index('email') # Setting up index as email but dataframe will remain same

                first last
email
Johnd@gmail.com  John  Den
Joed@gmail.com    Joe  Don
JaneD@gmail.com  Jane  Doe

In [8]:
df

  first last            email
0  John  Den  Johnd@gmail.com
1   Joe  Don   Joed@gmail.com
2  Jane  Doe  JaneD@gmail.com

In [9]:
df.set_index('email', inplace = True) # We use inplace function to set particular column as Index

In [10]:
df

                first last
email
Johnd@gmail.com  John  Den
Joed@gmail.com    Joe  Don
JaneD@gmail.com  Jane  Doe

In [11]:
df.index

Index(['Johnd@gmail.com', 'Joed@gmail.com', 'JaneD@gmail.com'], dtype='object', name='email')

In [12]:
df.loc['Johnd@gmail.com']

first    John
last      Den
Name: Johnd@gmail.com, dtype: object

In [14]:
df.reset_index(inplace = True)

In [15]:
df

             email first last
0  Johnd@gmail.com  John  Den
1   Joed@gmail.com   Joe  Don
2  JaneD@gmail.com  Jane  Doe

In [17]:
df.set_index('first')

                 email last
first
John   Johnd@gmail.com  Den
Joe     Joed@gmail.com  Don
Jane   JaneD@gmail.com  Doe